<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="mybujiApp.employee.detail.title">Employee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ employee.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.firstName">First Name</span></dt>
        <dd>
          <span>{{ employee.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.lastName">Last Name</span></dt>
        <dd>
          <span>{{ employee.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.email">Email</span></dt>
        <dd>
          <span>{{ employee.email }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.phone">Phone</span></dt>
        <dd>
          <span>{{ employee.phone }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.department">Department</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mybujiApp.Department.' + employee.department }}">{{ employee.department }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.role">Role</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mybujiApp.Role.' + employee.role }}">{{ employee.role }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.user">User</span></dt>
        <dd>
          <span>{{ employee.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.employee.workrequest">Workrequest</span></dt>
        <dd>
          <div *ngIf="employee.workrequest">
            <a [routerLink]="['/work-request', employee.workrequest.id, 'view']">{{ employee.workrequest.projectId}}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
