<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="elementTypes">
      <h2 data-cy="elementTypesDetailsHeading"><span jhiTranslate="mybujiApp.elementTypes.detail.title">Element Types</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ elementTypes.id }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.elementTypes.element">Element</span></dt>
        <dd>
          <span>{{ elementTypes.element }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.elementTypes.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mybujiApp.Type.' + elementTypes.type }}">{{ elementTypes.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/element-types', elementTypes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
