<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="costingPercentages">
      <h2 data-cy="costingPercentagesDetailsHeading">
        <span jhiTranslate="mybujiApp.costingPercentages.detail.title">Costing Percentages</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ costingPercentages.id }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.costingPercentages.costingSystem">Costing System</span></dt>
        <dd>
          <span>{{ costingPercentages.costingSystem }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.costingPercentages.costingQual">Costing Qual</span></dt>
        <dd>
          <span>{{ costingPercentages.costingQual }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.costingPercentages.costingImp">Costing Imp</span></dt>
        <dd>
          <span>{{ costingPercentages.costingImp }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.costingPercentages.costingPostImp">Costing Post Imp</span></dt>
        <dd>
          <span>{{ costingPercentages.costingPostImp }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.costingPercentages.active">Active</span></dt>
        <dd>
          <span>{{ costingPercentages.active }}</span>
        </dd>
        <dt><span jhiTranslate="mybujiApp.costingPercentages.dateAdded">Date Added</span></dt>
        <dd>
          <span>{{ costingPercentages.dateAdded | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/costing-percentages', costingPercentages.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
